.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 2px solid white;
    border-radius: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-subParagraph {
    font-size: 1em;
    color: #777;
  }
  

  .why{
    color: #6B74E2;
  }