.navbar-nav .nav-item .nav-link {
    white-space: nowrap; /* Prevents text from wrapping */
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }
  

  .nav-logo{
    width: 200px;
    height: 80px;
  }